Repository intel/vpl-gpu-rt, changes with the owners that CODEOWNERS names for each.
All owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, chunbo.chen@intel.com, zhijie.zhang@intel.com, lijuan.wang@intel.com, yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com, rachel.cheng@intel.com, thomas.li@intel.com, lightny.gong@intel.com, maxim.xue@intel.com, furong.zhang@intel.com, sergey.plotnikov@intel.com, neelesh.gokhale@intel.com

CODEOWNERS:

* jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com

# API
/api/**                                 miroslav.goncharenko@intel.com vasily.aristarkhov@intel.com jon.recker@intel.com chunbo.chen@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com

# Quick Build buildplans and scripts
/config/**                              zhijie.zhang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com

# core & plugin:
/_studio/mfx_lib/shared/**              lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/shared/**                      lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/shared/umc/core/**             lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/shared/umc/io/**               lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/mfx_lib/cmrt_cross_platform/** lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/mfx_lib/scheduler/**           lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com

# decoders
/_studio/mfx_lib/decode/**                          yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/av1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/h264_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/h265_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/mpeg2_dec/**              yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/jpeg_common/**            yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/jpeg_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vc1_common/**             yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vc1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vp8_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vp9_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/av1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/mfx_lib/shared/include/mfx_vpx_dec/**      yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/mfx_lib/shared/src/mfx_vpx_dec/**          yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com

# AVC/MPEG2/JPEG encode
/_studio/mfx_lib/encode_hw/h264/**                  chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/src/mfx_h264*               chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/mfx_h264*           chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/encode_hw/mpeg2/**                 chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/mfx_mpeg2           chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/src/mfx_mpeg2*              chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/encode_hw/mjpeg/**                 chunbo.chen@intel.com rachel.cheng@intel.com

# HEVC encode:
/_studio/mfx_lib/encode_hw/hevc/**                  thomas.li@intel.com lightny.gong@intel.com chunbo.chen@intel.com rachel.cheng@intel.com

# AV1 encode:
/_studio/mfx_lib/encode_hw/av1/**                   chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/feature_blocks/**   chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com

# HEVC & AV1 encode shared:
/_studio/mfx_lib/encode_hw/shared/**                chunbo.chen@intel.com thomas.li@intel.com maxim.xue@intel.com lightny.gong@intel.com rachel.cheng@intel.com

# VP9 encode:
_studio/mfx_lib/encode_hw/vp9/                      chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com

# VPP:
/_studio/mfx_lib/vpp/                               furong.zhang@intel.com

# enctools:
/_studio/enctools/                                  sergey.plotnikov@intel.com neelesh.gokhale@intel.com
/_studio/enctools/aenc                              sergey.plotnikov@intel.com neelesh.gokhale@intel.com
/_studio/shared/enctools/                           sergey.plotnikov@intel.com neelesh.gokhale@intel.com

[Media Common] Bump up version to 25.3.2
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

code refinement
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_data.h
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.cpp
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.h
  _studio/mfx_lib/encode_hw/h264/include/mfx_h264_encode_hw_utils.h
  _studio/mfx_lib/encode_hw/h264/src/mfx_h264_encode_hw.cpp
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_data.h
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_legacy.cpp
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_legacy.h
  _studio/mfx_lib/shared/include/mfx_platform_caps.h
  _studio/shared/enctools/include/mfxenctools-int.h
  _studio/shared/include/mfx_ext_buffers.h
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com, thomas.li@intel.com, lightny.gong@intel.com, lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, sergey.plotnikov@intel.com, neelesh.gokhale@intel.com

[Jpegd] Use VPP for YUV422H -> RGB CSC if VDSFC not available
  _studio/mfx_lib/decode/mjpeg/src/mfx_mjpeg_dec_decode.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com

[Decode] Adding decode system memory target interface for UMC VA without implementation.
  _studio/shared/umc/core/umc/include/umc_va_base.h
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Media Common] Bump up version to 25.3.3
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

Fix comments
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_data.h
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

switch lpla ds mode to vpp
  _studio/mfx_lib/shared/include/mfx_platform_caps.h
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[lpla] New qmatrix method enabling
  _studio/mfx_lib/shared/include/mfx_platform_caps.h
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Media Common] Bump up version to 25.3.4
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Decode] Add new FourCC to indicate RGBA16 in Y416
  _studio/mfx_lib/shared/src/mfx_common_int.cpp
  _studio/shared/src/mfx_umc_alloc_wrapper.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

style: minor fixes
  _studio/mfx_lib/shared/src/libmfxsw.cpp
  _studio/mfx_lib/shared/src/mfx_common_int.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

add ddi interface for la ds ratio
  _studio/shared/enctools/include/mfxenctools-int.h
Owners: sergey.plotnikov@intel.com, neelesh.gokhale@intel.com

[Encode] HEVC VC height padding feature
  _studio/mfx_lib/encode_hw/CMakeLists.txt
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_data.h
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_padding.cpp
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_padding.h
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, thomas.li@intel.com, lightny.gong@intel.com, chunbo.chen@intel.com, rachel.cheng@intel.com

[Media Common] Bump up version to 25.4.0
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

fix variable lock issue in vaCopy
  _studio/shared/src/libmfx_core_vaapi.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

fix mem leak
  _studio/mfx_lib/vpp/src/mfx_vpp_mvc.cpp
Owners: furong.zhang@intel.com

Enable cbr tu4 gs deltaqp
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_qmatrix.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

[Encode] SetFH bug fix in tests
  _studio/mfx_lib/encode_hw/av1/agnostic/av1ehw_ddi.h
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.cpp
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.h
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

[Media Common] Bump up version to 25.4.1
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Media Common] Create multiple video accelerators
  _studio/shared/include/libmfx_core.h
  _studio/shared/include/mfxvideo++int.h
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Decode]Fix issue for non-display frame refcounter
  _studio/shared/umc/codec/av1_dec/src/umc_av1_decoder.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com

[Decode] fix avc query issue
  _studio/mfx_lib/decode/h264/src/mfx_h264_dec_decode.cpp
  _studio/shared/umc/codec/h264_dec/src/umc_h264_mfx_supplier.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com

[Media Common] Bump up version to 25.4.2
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Decode] fix av1d query issue
  _studio/mfx_lib/decode/av1/include/mfx_av1_dec_decode.h
  _studio/mfx_lib/decode/av1/src/mfx_av1_dec_decode.cpp
  _studio/mfx_lib/shared/include/mfx_platform_caps.h
  _studio/mfx_lib/shared/src/mfx_common_int.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com, lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Media Common] Define multiple accelerators
  _studio/shared/umc/core/umc/include/umc_video_decoder.h
  _studio/shared/umc/core/umc/src/umc_video_decoder.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

style: minor fixes
  _studio/mfx_lib/decode/av1/src/mfx_av1_dec_decode.cpp
  _studio/shared/umc/codec/h264_dec/src/umc_h264_mfx_supplier.cpp
  _studio/shared/umc/core/umc/include/umc_video_decoder.h
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com, lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Media Common] Bump up version to 25.4.3
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

fix for skip la analysis call
  _studio/shared/enctools/include/mfxenctools-int.h
Owners: sergey.plotnikov@intel.com, neelesh.gokhale@intel.com

[VP]Add Fourcc Y416 RGBA16 Format support
  _studio/mfx_lib/vpp/src/mfx_vpp_sw_core.cpp
Owners: furong.zhang@intel.com

[Decode] remove p210 from avc support list
  _studio/mfx_lib/decode/h264/src/mfx_h264_dec_decode.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com

[Media Common] Bump up version to 25.4.4
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[CP] Fix dangling pointer issue in secure encode app.
  api/vpl/private/mfxpxp.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

style: minor fixes
  _studio/shared/include/mfx_vpp_interface.h
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

Clarify surface sharing field descriptions
  api/vpl/mfxmemory.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

Update descriptions of dispatcher API query funcs
  api/vpl/mfximplcaps.h
  api/vpl/mfxsession.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

[Media Common] Bump up version to 25.4.5
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Encode] Enhance base class functionality
  _studio/mfx_lib/encode_hw/shared/ehw_device.h
Owners: chunbo.chen@intel.com, thomas.li@intel.com, maxim.xue@intel.com, lightny.gong@intel.com, rachel.cheng@intel.com

[Encode] VPL Log Enhancement Part2
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_alloc.h
  _studio/mfx_lib/encode_hw/hevc/linux/base/hevcehw_base_caps_lin.h
  _studio/mfx_lib/encode_hw/hevc/linux/base/hevcehw_base_dirty_rect_lin.cpp
  _studio/mfx_lib/encode_hw/hevc/linux/base/hevcehw_base_dirty_rect_lin.h
  _studio/mfx_lib/encode_hw/hevc/linux/g12/hevcehw_g12_lin.cpp
Owners: thomas.li@intel.com, lightny.gong@intel.com, chunbo.chen@intel.com, rachel.cheng@intel.com

[Media Common] Bump up version to 25.4.6
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Encode] Set EnableRefFrameMvs for AV1.
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.cpp
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.h
  api/vpl/private/mfxav1.h
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com, miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com
