Repository intel/vpl-gpu-rt, changes with the owners that CODEOWNERS names for each.
All owners: dmitry.v.aleksandrov@intel.com, jie.xia@intel.com, vitaliy.ilichev@intel.com, andrei.kochergin@intel.com, rachel.liu@intel.com, fish.jiang@intel.com, miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, chunbo.chen@intel.com, andrey.shakhnov@intel.com, zhijie.zhang@intel.com, lijuan.wang@intel.com, yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com, denis.volkov@intel.com, rachel.cheng@intel.com, thomas.li@intel.com, lightny.gong@intel.com, maxim.xue@intel.com, furong.zhang@intel.com, sergey.plotnikov@intel.com, neelesh.gokhale@intel.com

CODEOWNERS:

* dmitry.v.aleksandrov@intel.com jie.xia@intel.com vitaliy.ilichev@intel.com andrei.kochergin@intel.com rachel.liu@intel.com fish.jiang@intel.com

# API
/api/**                                 miroslav.goncharenko@intel.com vasily.aristarkhov@intel.com vitaliy.ilichev@intel.com andrei.kochergin@intel.com chunbo.chen@intel.com jie.xia@intel.com rachel.liu@intel.com fish.jiang@intel.com

# Quick Build buildplans and scripts
/config/**                              andrey.shakhnov@intel.com zhijie.zhang@intel.com vitaliy.ilichev@intel.com andrei.kochergin@intel.com jie.xia@intel.com rachel.liu@intel.com fish.jiang@intel.com

# core & plugin:
/_studio/mfx_lib/shared/**              lijuan.wang@intel.com vitaliy.ilichev@intel.com andrei.kochergin@intel.com jie.xia@intel.com rachel.liu@intel.com fish.jiang@intel.com
/_studio/shared/**                      lijuan.wang@intel.com vitaliy.ilichev@intel.com andrei.kochergin@intel.com jie.xia@intel.com rachel.liu@intel.com fish.jiang@intel.com
/_studio/shared/umc/core/**             lijuan.wang@intel.com vitaliy.ilichev@intel.com andrei.kochergin@intel.com jie.xia@intel.com rachel.liu@intel.com fish.jiang@intel.com
/_studio/shared/umc/io/**               lijuan.wang@intel.com vitaliy.ilichev@intel.com andrei.kochergin@intel.com jie.xia@intel.com rachel.liu@intel.com fish.jiang@intel.com
/_studio/mfx_lib/cmrt_cross_platform/** lijuan.wang@intel.com vitaliy.ilichev@intel.com andrei.kochergin@intel.com jie.xia@intel.com rachel.liu@intel.com fish.jiang@intel.com
/_studio/mfx_lib/scheduler/**           lijuan.wang@intel.com vitaliy.ilichev@intel.com andrei.kochergin@intel.com jie.xia@intel.com rachel.liu@intel.com fish.jiang@intel.com

# decoders
/_studio/mfx_lib/decode/**                          yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/av1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/h264_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/h265_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/mpeg2_dec/**              yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/jpeg_common/**            yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/jpeg_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vc1_common/**             yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vc1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vp8_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vp9_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/av1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/mfx_lib/shared/include/mfx_vpx_dec/**      yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/mfx_lib/shared/src/mfx_vpx_dec/**          yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com

# AVC/MPEG2/JPEG encode
/_studio/mfx_lib/encode_hw/h264/**                  denis.volkov@intel.com chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/src/mfx_h264*               denis.volkov@intel.com chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/mfx_h264*           denis.volkov@intel.com chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/encode_hw/mpeg2/**                 denis.volkov@intel.com chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/mfx_mpeg2           denis.volkov@intel.com chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/src/mfx_mpeg2*              denis.volkov@intel.com chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/encode_hw/mjpeg/**                 denis.volkov@intel.com chunbo.chen@intel.com rachel.cheng@intel.com

# HEVC encode:
/_studio/mfx_lib/encode_hw/hevc/**                  thomas.li@intel.com lightny.gong@intel.com chunbo.chen@intel.com rachel.cheng@intel.com

# AV1 encode:
/_studio/mfx_lib/encode_hw/av1/**                   chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/feature_blocks/**   chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com

# HEVC & AV1 encode shared:
/_studio/mfx_lib/encode_hw/shared/**                chunbo.chen@intel.com thomas.li@intel.com maxim.xue@intel.com lightny.gong@intel.com rachel.cheng@intel.com

# VP9 encode:
_studio/mfx_lib/encode_hw/vp9/                      chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com

# VPP:
/_studio/mfx_lib/vpp/                               furong.zhang@intel.com

# enctools:
/_studio/enctools/                                  sergey.plotnikov@intel.com neelesh.gokhale@intel.com
/_studio/enctools/aenc                              sergey.plotnikov@intel.com neelesh.gokhale@intel.com
/_studio/shared/enctools/                           sergey.plotnikov@intel.com neelesh.gokhale@intel.com

[encode] Allow GPB set to off for HEVC encode
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_iddi_packer.h
Owners: thomas.li@intel.com, lightny.gong@intel.com, chunbo.chen@intel.com, rachel.cheng@intel.com

[Encode] Fix LNL Linux IBC corruption issue
  _studio/mfx_lib/encode_hw/av1/linux/base/av1ehw_base_va_packer_lin.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

[Encode] Fix AV1 Linux exception with LLVM/Clang complier
  _studio/mfx_lib/encode_hw/av1/agnostic/av1ehw_base.h
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

[Encode] Add BGR4 specific flag
  _studio/mfx_lib/encode_hw/mjpeg/include/mfx_mjpeg_encode_hw.h
  _studio/mfx_lib/shared/src/libmfxsw_encode.cpp
  _studio/shared/include/mfxvideo++int.h
Owners: denis.volkov@intel.com, chunbo.chen@intel.com, rachel.cheng@intel.com, lijuan.wang@intel.com, vitaliy.ilichev@intel.com, andrei.kochergin@intel.com, jie.xia@intel.com, rachel.liu@intel.com, fish.jiang@intel.com

[JPEGe] Enable YUV400 JPEG Enc support
  _studio/mfx_lib/encode_hw/mjpeg/src/mfx_mjpeg_encode_hw.cpp
  _studio/mfx_lib/encode_hw/mjpeg/src/mfx_mjpeg_encode_hw_utils.cpp
Owners: denis.volkov@intel.com, chunbo.chen@intel.com, rachel.cheng@intel.com

[JPEGe] Enable YUV400 internal vaapi allocator
  _studio/shared/src/libmfx_allocator_vaapi.cpp
Owners: lijuan.wang@intel.com, vitaliy.ilichev@intel.com, andrei.kochergin@intel.com, jie.xia@intel.com, rachel.liu@intel.com, fish.jiang@intel.com

[VPP] Fix vfi coverity issues
  _studio/mfx_lib/vpp/src/mfx_vpp_ai_frame_interpolation.cpp
Owners: furong.zhang@intel.com

AVC status report sync status for surface_out
  _studio/mfx_lib/decode/h264/src/mfx_h264_dec_decode.cpp
  _studio/shared/umc/codec/h264_dec/include/umc_h264_mfx_supplier.h
  _studio/shared/umc/codec/h264_dec/include/umc_h264_segment_decoder_base.h
  _studio/shared/umc/codec/h264_dec/include/umc_h264_segment_decoder_dxva.h
  _studio/shared/umc/codec/h264_dec/include/umc_h264_task_broker.h
  _studio/shared/umc/codec/h264_dec/src/umc_h264_mfx_supplier.cpp
  _studio/shared/umc/codec/h264_dec/src/umc_h264_segment_decoder_dxva.cpp
  _studio/shared/umc/codec/h264_dec/src/umc_h264_task_broker.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com

[RT Common]Add ARL device ID
  _studio/shared/include/mfxstructures-int.h
Owners: lijuan.wang@intel.com, vitaliy.ilichev@intel.com, andrei.kochergin@intel.com, jie.xia@intel.com, rachel.liu@intel.com, fish.jiang@intel.com

common: minor style change
  _studio/shared/include/mfxstructures-int.h
Owners: lijuan.wang@intel.com, vitaliy.ilichev@intel.com, andrei.kochergin@intel.com, jie.xia@intel.com, rachel.liu@intel.com, fish.jiang@intel.com

open source limitation
  _studio/mfx_lib/encode_hw/hevc/linux/base/hevcehw_base_va_packer_lin.cpp
Owners: thomas.li@intel.com, lightny.gong@intel.com, chunbo.chen@intel.com, rachel.cheng@intel.com

[Encode] Add rgb32 flag for BGR4 case
  _studio/mfx_lib/encode_hw/mjpeg/include/mfx_mjpeg_encode_hw.h
  _studio/mfx_lib/shared/src/libmfxsw_encode.cpp
  _studio/shared/include/mfxvideo++int.h
Owners: denis.volkov@intel.com, chunbo.chen@intel.com, rachel.cheng@intel.com, lijuan.wang@intel.com, vitaliy.ilichev@intel.com, andrei.kochergin@intel.com, jie.xia@intel.com, rachel.liu@intel.com, fish.jiang@intel.com

[JPEGe] Enable YUV400 JPEG Enc support
  _studio/mfx_lib/encode_hw/mjpeg/src/mfx_mjpeg_encode_hw.cpp
  _studio/mfx_lib/encode_hw/mjpeg/src/mfx_mjpeg_encode_hw_utils.cpp
Owners: denis.volkov@intel.com, chunbo.chen@intel.com, rachel.cheng@intel.com

[JPEGe] Enable YUV400 internal vaapi allocator
  _studio/shared/src/libmfx_allocator_vaapi.cpp
Owners: lijuan.wang@intel.com, vitaliy.ilichev@intel.com, andrei.kochergin@intel.com, jie.xia@intel.com, rachel.liu@intel.com, fish.jiang@intel.com

sw allocator: fixed pitch calculation for high-res videos
  _studio/shared/src/libmfx_allocator.cpp
Owners: lijuan.wang@intel.com, vitaliy.ilichev@intel.com, andrei.kochergin@intel.com, jie.xia@intel.com, rachel.liu@intel.com, fish.jiang@intel.com

[Encode] AV1 enable sliding window for CBR
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.cpp
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.h
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

[Decode] Switch VVC profile to libva
  _studio/shared/include/mfxvideo++int.h
Owners: lijuan.wang@intel.com, vitaliy.ilichev@intel.com, andrei.kochergin@intel.com, jie.xia@intel.com, rachel.liu@intel.com, fish.jiang@intel.com

[Decode] Make decoding bit format configurable
  _studio/mfx_lib/decode/av1/src/mfx_av1_dec_decode.cpp
  _studio/mfx_lib/decode/vp9/src/mfx_vp9_dec_decode_hw.cpp
  _studio/shared/umc/codec/av1_dec/include/umc_av1_va_packer.h
  _studio/shared/umc/codec/av1_dec/src/umc_av1_decoder_va.cpp
  _studio/shared/umc/codec/av1_dec/src/umc_av1_va_packer_vaapi.cpp
  _studio/shared/umc/codec/h265_dec/include/platform/umc_h265_va_packer_vaapi_g9.hpp
  _studio/shared/umc/codec/h265_dec/include/umc_h265_dec_defs.h
  _studio/shared/umc/codec/h265_dec/include/umc_h265_task_supplier.h
  _studio/shared/umc/codec/h265_dec/include/umc_h265_va_supplier.h
  _studio/shared/umc/codec/h265_dec/src/umc_h265_task_supplier.cpp
  _studio/shared/umc/codec/h265_dec/src/umc_h265_va_supplier.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com

[Decode] Remove vvc private headers
  _studio/shared/umc/codec/vvc_dec/include/umc_vvc_va_packer_vaapi.h
  _studio/shared/umc/codec/vvc_dec/src/umc_vvc_va_packer_vaapi.cpp
  _studio/shared/umc/io/umc_va/src/umc_va_linux.cpp
Owners: lijuan.wang@intel.com, vitaliy.ilichev@intel.com, andrei.kochergin@intel.com, jie.xia@intel.com, rachel.liu@intel.com, fish.jiang@intel.com

[Decode] Add Y210 format support for media copy
  _studio/shared/src/libmfx_allocator.cpp
Owners: lijuan.wang@intel.com, vitaliy.ilichev@intel.com, andrei.kochergin@intel.com, jie.xia@intel.com, rachel.liu@intel.com, fish.jiang@intel.com

Hyper Encoding Policy addition (#8694)
  _studio/mfx_lib/shared/include/mfx_common_int.h
  _studio/mfx_lib/shared/src/mfx_common_int.cpp
Owners: lijuan.wang@intel.com, vitaliy.ilichev@intel.com, andrei.kochergin@intel.com, jie.xia@intel.com, rachel.liu@intel.com, fish.jiang@intel.com
