Repository intel/vpl-gpu-rt, changes with the owners that CODEOWNERS names for each.
All owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, chunbo.chen@intel.com, zhijie.zhang@intel.com, lijuan.wang@intel.com, yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com, rachel.cheng@intel.com, thomas.li@intel.com, lightny.gong@intel.com, maxim.xue@intel.com, furong.zhang@intel.com, sergey.plotnikov@intel.com, neelesh.gokhale@intel.com

CODEOWNERS:

* jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com

# API
/api/**                                 miroslav.goncharenko@intel.com vasily.aristarkhov@intel.com jon.recker@intel.com chunbo.chen@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com

# Quick Build buildplans and scripts
/config/**                              zhijie.zhang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com

# core & plugin:
/_studio/mfx_lib/shared/**              lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/shared/**                      lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/shared/umc/core/**             lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/shared/umc/io/**               lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/mfx_lib/cmrt_cross_platform/** lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/mfx_lib/scheduler/**           lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com

# decoders
/_studio/mfx_lib/decode/**                          yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/av1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/h264_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/h265_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/mpeg2_dec/**              yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/jpeg_common/**            yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/jpeg_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vc1_common/**             yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vc1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vp8_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vp9_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/av1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/mfx_lib/shared/include/mfx_vpx_dec/**      yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/mfx_lib/shared/src/mfx_vpx_dec/**          yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com

# AVC/MPEG2/JPEG encode
/_studio/mfx_lib/encode_hw/h264/**                  chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/src/mfx_h264*               chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/mfx_h264*           chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/encode_hw/mpeg2/**                 chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/mfx_mpeg2           chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/src/mfx_mpeg2*              chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/encode_hw/mjpeg/**                 chunbo.chen@intel.com rachel.cheng@intel.com

# HEVC encode:
/_studio/mfx_lib/encode_hw/hevc/**                  thomas.li@intel.com lightny.gong@intel.com chunbo.chen@intel.com rachel.cheng@intel.com

# AV1 encode:
/_studio/mfx_lib/encode_hw/av1/**                   chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/feature_blocks/**   chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com

# HEVC & AV1 encode shared:
/_studio/mfx_lib/encode_hw/shared/**                chunbo.chen@intel.com thomas.li@intel.com maxim.xue@intel.com lightny.gong@intel.com rachel.cheng@intel.com

# VP9 encode:
_studio/mfx_lib/encode_hw/vp9/                      chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com

# VPP:
/_studio/mfx_lib/vpp/                               furong.zhang@intel.com

# enctools:
/_studio/enctools/                                  sergey.plotnikov@intel.com neelesh.gokhale@intel.com
/_studio/enctools/aenc                              sergey.plotnikov@intel.com neelesh.gokhale@intel.com
/_studio/shared/enctools/                           sergey.plotnikov@intel.com neelesh.gokhale@intel.com

[HEVC Encode] Restrict BestQualityRef low delay path to single temporal layer
  _studio/mfx_lib/encode_hw/CMakeLists.txt
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_best_quality_ref.cpp
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_best_quality_ref.h
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_data.h
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_parser.cpp
  _studio/mfx_lib/encode_hw/hevc/linux/base/hevcehw_base_next_lin.cpp
  _studio/mfx_lib/shared/include/mfx_platform_caps.h
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, thomas.li@intel.com, lightny.gong@intel.com, chunbo.chen@intel.com, rachel.cheng@intel.com, lijuan.wang@intel.com

[Encode] Fix off-by-one OVERRUN in AV1Enc::GetDistScaleFactor
  _studio/mfx_lib/encode_hw/h264/include/mfx_h264_enc_common_hw.h
  _studio/mfx_lib/encode_hw/h264/src/mfx_h264_enc_common_hw.cpp
  _studio/mfx_lib/encode_hw/vp9/src/mfx_vp9_encode_hw_utils.cpp
Owners: chunbo.chen@intel.com, rachel.cheng@intel.com, maxim.xue@intel.com

[VP]VFI Arbitrary Kernel feature VPL Implement
  _studio/mfx_lib/shared/include/mfx_platform_caps.h
  _studio/mfx_lib/vpp/src/mfx_vpp_hw.cpp
  _studio/shared/include/mfx_vpp_interface.h
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, furong.zhang@intel.com

[Media Common] Bump up version to 26.3.4
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[VP] VFI 2.0 caps enable
  _studio/mfx_lib/shared/include/mfx_platform_caps.h
  _studio/mfx_lib/vpp/src/mfx_vpp_hw.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, furong.zhang@intel.com

Fix AV1 HDR chromaticity clipping
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_hdr.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

[AV1 Encode] Handle allocation failures safely
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_enctools.cpp
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_enctools.h
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.cpp
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_impl.cpp
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_segmentation.cpp
  _studio/mfx_lib/encode_hw/av1/linux/base/av1ehw_base_va_lin.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

[AV1] Restore full transforms for target usage 1
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

Fix AV1 EncTools frame type fallback
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_enctools.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

[Media Common] Bump up version to 26.3.5
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[VP] Separate driver VFI scheduling from OCL
  _studio/mfx_lib/vpp/include/mfx_vpp_driver_frame_interpolation.h
  _studio/mfx_lib/vpp/include/mfx_vpp_hw.h
  _studio/mfx_lib/vpp/src/mfx_vpp_hw.cpp
  _studio/mfx_lib/vpp/src/mfx_vpp_sw_core.cpp
Owners: furong.zhang@intel.com

[Media Common] Bump up version to 26.4.0
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Allocator] Fix surface size over-count for packed formats
  _studio/shared/include/libmfx_allocator.h
  _studio/shared/src/libmfx_allocator.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

Add NPU speed and quality algorithms for AI SR
  api/vpl/mfxstructures.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

[Readme] Update README for CRI platform support
  README.md
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

Fix AV1 HDR chromaticity clipping
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_hdr.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

[VPP] Release outstanding VA pipeline buffers on close
  _studio/shared/src/mfx_vpp_vaapi.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Encode] Fix AVC NULL MemId handle lookup with LookAheadDepth
  _studio/mfx_lib/encode_hw/h264/src/mfx_h264_encode_hw.cpp
Owners: chunbo.chen@intel.com, rachel.cheng@intel.com

Remove gratuitous comment
  _studio/mfx_lib/encode_hw/h264/src/mfx_h264_encode_hw.cpp
Owners: chunbo.chen@intel.com, rachel.cheng@intel.com
