Repository intel/vpl-gpu-rt, changes with the owners that CODEOWNERS names for each.
All owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, chunbo.chen@intel.com, zhijie.zhang@intel.com, lijuan.wang@intel.com, yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com, rachel.cheng@intel.com, thomas.li@intel.com, lightny.gong@intel.com, maxim.xue@intel.com, furong.zhang@intel.com, sergey.plotnikov@intel.com, neelesh.gokhale@intel.com

CODEOWNERS:

* jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com

# API
/api/**                                 miroslav.goncharenko@intel.com vasily.aristarkhov@intel.com jon.recker@intel.com chunbo.chen@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com

# Quick Build buildplans and scripts
/config/**                              zhijie.zhang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com

# core & plugin:
/_studio/mfx_lib/shared/**              lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/shared/**                      lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/shared/umc/core/**             lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/shared/umc/io/**               lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/mfx_lib/cmrt_cross_platform/** lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/mfx_lib/scheduler/**           lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com

# decoders
/_studio/mfx_lib/decode/**                          yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/av1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/h264_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/h265_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/mpeg2_dec/**              yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/jpeg_common/**            yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/jpeg_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vc1_common/**             yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vc1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vp8_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vp9_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/av1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/mfx_lib/shared/include/mfx_vpx_dec/**      yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/mfx_lib/shared/src/mfx_vpx_dec/**          yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com

# AVC/MPEG2/JPEG encode
/_studio/mfx_lib/encode_hw/h264/**                  chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/src/mfx_h264*               chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/mfx_h264*           chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/encode_hw/mpeg2/**                 chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/mfx_mpeg2           chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/src/mfx_mpeg2*              chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/encode_hw/mjpeg/**                 chunbo.chen@intel.com rachel.cheng@intel.com

# HEVC encode:
/_studio/mfx_lib/encode_hw/hevc/**                  thomas.li@intel.com lightny.gong@intel.com chunbo.chen@intel.com rachel.cheng@intel.com

# AV1 encode:
/_studio/mfx_lib/encode_hw/av1/**                   chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/feature_blocks/**   chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com

# HEVC & AV1 encode shared:
/_studio/mfx_lib/encode_hw/shared/**                chunbo.chen@intel.com thomas.li@intel.com maxim.xue@intel.com lightny.gong@intel.com rachel.cheng@intel.com

# VP9 encode:
_studio/mfx_lib/encode_hw/vp9/                      chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com

# VPP:
/_studio/mfx_lib/vpp/                               furong.zhang@intel.com

# enctools:
/_studio/enctools/                                  sergey.plotnikov@intel.com neelesh.gokhale@intel.com
/_studio/enctools/aenc                              sergey.plotnikov@intel.com neelesh.gokhale@intel.com
/_studio/shared/enctools/                           sergey.plotnikov@intel.com neelesh.gokhale@intel.com

[Media Common] Bump up version to 26.2.2
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[VPP] [SR] Fix GetVideoParam returning disabled SR mode on Linux
  _studio/shared/src/mfx_vpp_vaapi.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Media Common] Bump up version to 26.2.3
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Decode] Add AVC 10bit Dec for PTL
  _studio/mfx_lib/decode/h264/src/mfx_h264_dec_decode.cpp
  _studio/mfx_lib/shared/include/mfx_platform_caps.h
  _studio/mfx_lib/shared/src/mfx_common_int.cpp
  _studio/shared/src/libmfx_core_hw.cpp
  _studio/shared/umc/codec/h264_dec/src/umc_h264_mfx_supplier.cpp
  _studio/shared/umc/io/umc_va/src/umc_va_linux.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com, lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Decode] Correct luma and chroma offsets
  _studio/shared/umc/codec/h264_dec/src/umc_h264_dec_bitstream_headers.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com

[Media Interface] Enable NVL-P platform for open-source build
  _studio/mfx_lib/shared/src/mfx_common_int.cpp
  _studio/shared/include/mfxstructures-int.h
  _studio/shared/src/libmfx_core_vaapi.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Encode] Enable EnableRefFrameMvs by default for TU1/2/4/6 on AV1
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

[RT Common] Add CRI platform support to open source build config
  builder/BuildOptionsPlatform.cmake
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Doc] Update README for NVL platform support
  README.md
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

Add mfxExtEncPreProcessing extension buffer
  api/vpl/mfxstructures.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

Add BGRA FP16 format in MFX FOURCC Enum
  api/vpl/mfxstructures.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

[Media Common] Bump up version to 26.2.4
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[VP] Add missing RT_FUNC_ENTER trace hooks
  _studio/mfx_lib/vpp/src/mfx_vpp_hw.cpp
  _studio/mfx_lib/vpp/src/mfx_vpp_sw_core.cpp
  _studio/mfx_lib/vpp/src/mfx_vpp_utils.cpp
  _studio/shared/include/mfx_utils.h
  _studio/shared/include/mfx_vpp_interface.h
  _studio/shared/src/libmfx_allocator.cpp
  _studio/shared/src/libmfx_core.cpp
Owners: furong.zhang@intel.com, lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Decode] Add platform check in VVC QueryImplsDescription
  _studio/mfx_lib/decode/vvc/src/mfx_vvc_dec_decode.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com

Update API version to 2.17
  api/vpl/mfxdefs.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

[Decode] Create decode_next framework and codec backend with ULTs
  _studio/mfx_lib/CMakeLists.txt
  _studio/mfx_lib/shared/src/libmfxsw_decode.cpp
  _studio/shared/include/mfx_umc_alloc_wrapper.h
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, lijuan.wang@intel.com

Refine for commit 5e49236
  _studio/mfx_lib/CMakeLists.txt
  _studio/mfx_lib/shared/src/libmfxsw_decode.cpp
  _studio/shared/include/mfx_umc_alloc_wrapper.h
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, lijuan.wang@intel.com

[Media Common] Bump up version to 26.3.0
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[AV1] Enable QVBR for AV1
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_data.h
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.cpp
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general_defaults.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

Add Limitation for Preproc Feature
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_data.h
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_legacy.cpp
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_legacy.h
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_task.cpp
  _studio/mfx_lib/shared/include/mfx_platform_caps.h
Owners: thomas.li@intel.com, lightny.gong@intel.com, chunbo.chen@intel.com, rachel.cheng@intel.com, lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Encode] Add VPL PERF LOG timing to AV1/HEVC/AVC/VP9 encoder async routines
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_impl.cpp
  _studio/mfx_lib/encode_hw/h264/src/mfx_h264_encode_hw.cpp
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_impl.cpp
  _studio/mfx_lib/encode_hw/vp9/src/mfx_vp9_encode_hw.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com, thomas.li@intel.com, lightny.gong@intel.com

[Readme] add WCL into platform list
  README.md
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[AV1] Tune QVBR default buffer size for AV1
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.cpp
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general_defaults.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

HEVC SCC: gate 2nd-PPS (inter curr-pic-ref disable) on SCC profile
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_data.h
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_packer.cpp
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_scc.cpp
  _studio/mfx_lib/encode_hw/hevc/linux/base/hevcehw_base_scc_lin.h
  _studio/mfx_lib/encode_hw/hevc/linux/base/hevcehw_base_va_packer_lin.cpp
Owners: thomas.li@intel.com, lightny.gong@intel.com, chunbo.chen@intel.com, rachel.cheng@intel.com

Add LutUpdated flag to mfxExtVPP3DLut
  api/vpl/mfxstructures.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

[Encode] Drop UpdateNALUIfNeeded from the SmartV trace
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_packer.cpp
  _studio/mfx_lib/encode_hw/h264/src/mfx_h264_enc_common_hw.cpp
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_legacy_defaults.cpp
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_packer.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com, thomas.li@intel.com, lightny.gong@intel.com

[Media Common] Bump up version to 26.3.2
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Encode] Fix Coverity DEADCODE in WriteSpsData AVC SPS header writer
  _studio/mfx_lib/encode_hw/h264/src/mfx_h264_enc_common_hw.cpp
Owners: chunbo.chen@intel.com, rachel.cheng@intel.com

[VP] Add LutUpdated flag to 3DLUT Texture3D for per-frame skip optimization
  _studio/mfx_lib/vpp/src/mfx_vpp_hw.cpp
  _studio/shared/include/mfx_vpp_interface.h
Owners: furong.zhang@intel.com, lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Encode] Fix HEVC LPLA regression
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_enctools_com.cpp
Owners: thomas.li@intel.com, lightny.gong@intel.com, chunbo.chen@intel.com, rachel.cheng@intel.com

[Encode][AV1] Decouple HW LPLA from GameStreaming scenario
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_enctools_com.cpp
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_enctools_com.h
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

[VP] Honor EnableScd of mfxExtVPPAIFrameInterpolation in AI VFI
  _studio/mfx_lib/vpp/src/mfx_vpp_hw.cpp
  _studio/shared/include/mfx_vpp_interface.h
Owners: furong.zhang@intel.com, lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

fix: restore trailing newline in CMakeLists
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Media Common] Fix sizeof mismatch guarding ExtParam[i] dereference in dump_mfxExtParams
  _studio/mfx_lib/ext/mctf_package/mctf/src/mctf_common.cpp
  _studio/mfx_lib/shared/include/mfx_interface.h
  _studio/shared/include/mfx_trace_dump.h
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, lijuan.wang@intel.com

[Media Common] Bump up version to 26.3.3
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

VFI API add timestamps
  api/vpl/mfxstructures.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

[Encode] AV1: apply reduced transform set default to all target usages
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

[CM] Fix MISSING_LOCK race condition in CmCopyWrapper::Initialize
  _studio/mfx_lib/ext/cmrt_cross_platform/src/cm_mem_copy.cpp
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[RT Common] Add media copy support for CRI
  _studio/shared/src/libmfx_core_vaapi.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Decode] Guard null CompBuf in PackerIntel::PackAU
  _studio/mfx_lib/decode/vc1/src/mfx_vc1_decode.cpp
  _studio/shared/umc/codec/h264_dec/src/umc_h264_dec_debug.cpp
  _studio/shared/umc/codec/h265_dec/src/umc_h265_task_supplier.cpp
  _studio/shared/umc/codec/vvc_dec/src/umc_vvc_decoder.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com, lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com
