Repository intel/vpl-gpu-rt, changes with the owners that CODEOWNERS names for each.
All owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, chunbo.chen@intel.com, zhijie.zhang@intel.com, lijuan.wang@intel.com, yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com, rachel.cheng@intel.com, thomas.li@intel.com, lightny.gong@intel.com, maxim.xue@intel.com, furong.zhang@intel.com, sergey.plotnikov@intel.com, neelesh.gokhale@intel.com

[RT Common] Fix error handling in mfxDefaultAllocatorVAAPI::AllocFramesHW
  _studio/shared/src/libmfx_allocator_vaapi.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[RT Common] Fix integer overflow in bitstream and buffer calculations
  _studio/mfx_lib/shared/src/mfx_common_int.cpp
  _studio/shared/src/libmfx_allocator_vaapi.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[VP] Add 3D LUT tetrahedral interpolation capability support
  _studio/mfx_lib/shared/include/mfx_platform_caps.h
  _studio/mfx_lib/vpp/include/mfx_vpp_hw.h
  _studio/mfx_lib/vpp/src/mfx_vpp_hw.cpp
  _studio/shared/include/mfx_vpp_interface.h
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, furong.zhang@intel.com

Move 3DLut Interpolation API to Production
  api/vpl/mfxstructures.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

[Encode] Fix AV1 use_ref_frame_mvs ignoring explicit OFF on TU1
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

[Media Common] Bump up version to 26.1.6
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[mediasdk][codec] Fix Coverity static analysis issues
  _studio/shared/umc/codec/brc/src/umc_mpeg2_brc.cpp
  _studio/shared/umc/codec/brc/src/umc_video_brc.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[mediasdk][common] Fix Coverity static analysis issues
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_task.cpp
  _studio/shared/asc/src/asc.cpp
  _studio/shared/mfx_trace/src/mfx_reflect.cpp
  _studio/shared/mfx_trace/src/mfx_trace_ir.cpp
  _studio/shared/src/mfx_umc_alloc_wrapper.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com, lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Decode] Fix Coverity static analysis issues in decode component
  _studio/mfx_lib/decode/mjpeg/src/mfx_mjpeg_dec_decode.cpp
  _studio/shared/umc/codec/av1_dec/include/umc_av1_bitstream_utils.h
  _studio/shared/umc/codec/av1_dec/include/umc_av1_decoder.h
  _studio/shared/umc/codec/h264_dec/include/umc_h264_bitstream_headers.h
  _studio/shared/umc/codec/h264_dec/src/umc_h264_au_splitter.cpp
  _studio/shared/umc/codec/h265_dec/src/umc_h265_frame_info.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com

[mediasdk][codec] Fix Coverity INTEGER_OVERFLOW in BRC
  _studio/shared/umc/codec/brc/src/umc_mpeg2_brc.cpp
  _studio/shared/umc/codec/brc/src/umc_video_brc.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[RT Common] Add mutex locks for GetDeviceHandle and GetTimeout
  _studio/shared/include/libmfx_core.h
  _studio/shared/src/libmfx_allocator_vaapi.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

code refinement
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_enctools.cpp
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_enctools.h
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_enctools_com.cpp
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_enctools_com.h
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_qmatrix.cpp
  _studio/mfx_lib/encode_hw/h264/include/mfx_h264_encode_hw_utils.h
  _studio/mfx_lib/encode_hw/h264/src/mfx_h264_enc_common_hw.cpp
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_enctools.cpp
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_enctools.h
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_enctools_com.cpp
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_enctools_com.h
  _studio/mfx_lib/shared/src/mfx_enc_common.cpp
  _studio/shared/enctools/src/mfx_enctools.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com, thomas.li@intel.com, lightny.gong@intel.com, lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, sergey.plotnikov@intel.com, neelesh.gokhale@intel.com

[RT Common] Fix static analysis issue to use move for copy
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_task.cpp
  _studio/shared/mfx_trace/src/mfx_reflect.cpp
  _studio/shared/mfx_trace/src/mfx_trace_ir.cpp
  _studio/shared/src/mfx_umc_alloc_wrapper.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com, lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

Revert "[Encode] Fix AV1 use_ref_frame_mvs ignoring explicit OFF on TU1 (#10137)"
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

making a pull to fix the issue::[Bug]: EHW Exception: unknown ext. buffer Id #377
  _studio/mfx_lib/shared/include/mfx_utils_extbuf.h
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Decode] Add AVC 10bit Dec for PTL
  _studio/mfx_lib/decode/h264/src/mfx_h264_dec_decode.cpp
  _studio/mfx_lib/shared/include/mfx_platform_caps.h
  _studio/mfx_lib/shared/src/mfx_common_int.cpp
  _studio/shared/src/libmfx_core_hw.cpp
  _studio/shared/umc/codec/h264_dec/src/umc_h264_mfx_supplier.cpp
  _studio/shared/umc/io/umc_va/src/umc_va_linux.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com, lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Decode] Correct luma and chroma offsets linux
  _studio/shared/umc/codec/h264_dec/src/umc_h264_dec_bitstream_headers.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com

[AV1][Coverity] Fix INTEGER_OVERFLOW CID 4398015 in order_hint_bits_minus1
  _studio/shared/umc/codec/av1_dec/src/umc_av1_bitstream.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com

[MPEG2 Encode] Fix Coverity CID 4398024: INTEGER_OVERFLOW in VAAPIEncoder::SetFrames
  _studio/mfx_lib/ext/mpeg2/src/mfx_mpeg2_encode_vaapi.cpp
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

Fix Coverity issues: resource leak and uncaught exceptions in destructors
  _studio/mfx_lib/ext/cmrt_cross_platform/src/cmrt_cross_platform.cpp
  _studio/shared/include/libmfx_allocator_vaapi.h
  _studio/shared/src/libmfx_allocator_vaapi.cpp
  _studio/shared/src/libmfx_core_vaapi.cpp
  _studio/shared/umc/io/umc_va/src/umc_va_linux.cpp
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, lijuan.wang@intel.com

[Media Common] Bump up version to 26.1.7
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[decode][mediasdk] Fix Coverity issues in decode and test components (CIDs 3568170, 3584109, 3301792, 3388910, 3403404, 3403405)
  _studio/shared/umc/codec/vvc_dec/src/umc_vvc_va_packer_vaapi.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Build] Workaround for failures caused by Crowdstrike
  builder/FindGlobals.cmake
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

Increment version of mfxMemoryInterface struct
  api/vpl/mfxmemory.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

[Media Common] Bump up version to 26.2.0
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[VVC][Coverity] Fix INTEGER_OVERFLOW CID 3583108 in VVCScanOrderTables::InitScanOrderTables
  _studio/shared/umc/codec/vvc_dec/src/umc_vvc_bitstream_headers.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

Change unsupported DDI fields to reserved bits with comments
  _studio/mfx_lib/encode_hw/av1/agnostic/av1ehw_ddi.h
  _studio/mfx_lib/encode_hw/hevc/agnostic/hevcehw_ddi.h
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com, thomas.li@intel.com, lightny.gong@intel.com

[Media Common] Bump up version to 26.2.1
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[RT Common] Consolidate VPL scheduler code
  _studio/mfx_lib/CMakeLists.txt
  _studio/mfx_lib/scheduler/agnostic/include/mfx_dependency_item.h
  _studio/mfx_lib/scheduler/agnostic/include/mfx_scheduler_core_handle.h
  _studio/mfx_lib/scheduler/agnostic/include/mfx_scheduler_core_inline.h
  _studio/mfx_lib/scheduler/agnostic/include/mfx_scheduler_core_task.h
  _studio/mfx_lib/scheduler/agnostic/src/mfx_scheduler_core_iunknown.cpp
  _studio/mfx_lib/scheduler/agnostic/src/mfx_scheduler_core_task.cpp
  _studio/mfx_lib/scheduler/agnostic/src/mfx_scheduler_core_task_management.cpp
  _studio/mfx_lib/scheduler/linux/include/mfx_scheduler_core.h
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, lijuan.wang@intel.com

[Encode] Guard FullQpRangeSupport with MFX_VA_WIN for Windows-only scope
  _studio/mfx_lib/encode_hw/h264/src/mfx_h264_encode_hw_utils.cpp
  _studio/mfx_lib/encode_hw/h264/src/mfx_h264_encode_hw_utils_new.cpp
Owners: chunbo.chen@intel.com, rachel.cheng@intel.com

[Encode] Restore allow_full_tx_set cap field name in AV1 DDI header
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.cpp
  api/vpl/private/mfxav1.h
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com, miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

[RT Common] Upstream CRI platform enablinig
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_data.h
  _studio/mfx_lib/shared/src/mfx_common_int.cpp
  _studio/shared/include/mfxstructures-int.h
Owners: thomas.li@intel.com, lightny.gong@intel.com, chunbo.chen@intel.com, rachel.cheng@intel.com, lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[VP] Linux VAAPI: enable AI-based VPP upscaling
  _studio/mfx_lib/shared/include/mfx_platform_caps.h
  _studio/shared/src/mfx_vpp_vaapi.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[VP] Enable AI Video Frame Interpolation on Linux
  _studio/mfx_lib/vpp/CMakeLists.txt
  _studio/mfx_lib/vpp/include/mfx_vpp_ai_frame_interpolation.h
  _studio/mfx_lib/vpp/include/mfx_vpp_hw.h
  _studio/mfx_lib/vpp/src/mfx_vpp_ai_frame_interpolation.cpp
  _studio/mfx_lib/vpp/src/mfx_vpp_hw.cpp
  _studio/mfx_lib/vpp/src/mfx_vpp_sw_internal.cpp
Owners: furong.zhang@intel.com

[lpla] Preserve original adaptive CQM behavior for AVC remote gaming
  _studio/mfx_lib/encode_hw/h264/include/mfx_h264_enc_common_hw.h
  _studio/mfx_lib/encode_hw/h264/include/mfx_h264_encode_hw_utils.h
  _studio/mfx_lib/encode_hw/h264/src/mfx_h264_enc_common_hw.cpp
  _studio/mfx_lib/encode_hw/h264/src/mfx_h264_encode_hw.cpp
Owners: chunbo.chen@intel.com, rachel.cheng@intel.com

[Decode] Fix m_dst memory leak in VideoDECODEMJPEGBase_HW::Close()
  _studio/mfx_lib/decode/mjpeg/src/mfx_mjpeg_dec_decode.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com

[Encode] Fix UNCAUGHT_EXCEPT in encoder destructors and RULE_OF_ZERO_THREE_FIVE in MFXWorkloadManager
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_impl.h
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_impl.h
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com, thomas.li@intel.com, lightny.gong@intel.com

[Encode][AV1] Gate TU1 use_ref_frame_mvs default on platform capability
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

Add new decode members for alpha channel info
  api/vpl/mfxstructures.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

[Decode] Fix UNCAUGHT_EXCEPT in AV1/H264/H265 decoder destructors
  _studio/mfx_lib/decode/av1/src/mfx_av1_dec_decode.cpp
  _studio/mfx_lib/decode/h264/src/mfx_h264_dec_decode.cpp
  _studio/mfx_lib/decode/h265/src/mfx_h265_dec_decode.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com

CODEOWNERS:

* jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com

# API
/api/**                                 miroslav.goncharenko@intel.com vasily.aristarkhov@intel.com jon.recker@intel.com chunbo.chen@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com

# Quick Build buildplans and scripts
/config/**                              zhijie.zhang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com

# core & plugin:
/_studio/mfx_lib/shared/**              lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/shared/**                      lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/shared/umc/core/**             lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/shared/umc/io/**               lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/mfx_lib/cmrt_cross_platform/** lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/mfx_lib/scheduler/**           lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com

# decoders
/_studio/mfx_lib/decode/**                          yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/av1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/h264_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/h265_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/mpeg2_dec/**              yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/jpeg_common/**            yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/jpeg_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vc1_common/**             yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vc1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vp8_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vp9_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/av1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/mfx_lib/shared/include/mfx_vpx_dec/**      yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/mfx_lib/shared/src/mfx_vpx_dec/**          yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com

# AVC/MPEG2/JPEG encode
/_studio/mfx_lib/encode_hw/h264/**                  chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/src/mfx_h264*               chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/mfx_h264*           chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/encode_hw/mpeg2/**                 chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/mfx_mpeg2           chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/src/mfx_mpeg2*              chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/encode_hw/mjpeg/**                 chunbo.chen@intel.com rachel.cheng@intel.com

# HEVC encode:
/_studio/mfx_lib/encode_hw/hevc/**                  thomas.li@intel.com lightny.gong@intel.com chunbo.chen@intel.com rachel.cheng@intel.com

# AV1 encode:
/_studio/mfx_lib/encode_hw/av1/**                   chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/feature_blocks/**   chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com

# HEVC & AV1 encode shared:
/_studio/mfx_lib/encode_hw/shared/**                chunbo.chen@intel.com thomas.li@intel.com maxim.xue@intel.com lightny.gong@intel.com rachel.cheng@intel.com

# VP9 encode:
_studio/mfx_lib/encode_hw/vp9/                      chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com

# VPP:
/_studio/mfx_lib/vpp/                               furong.zhang@intel.com

# enctools:
/_studio/enctools/                                  sergey.plotnikov@intel.com neelesh.gokhale@intel.com
/_studio/enctools/aenc                              sergey.plotnikov@intel.com neelesh.gokhale@intel.com
/_studio/shared/enctools/                           sergey.plotnikov@intel.com neelesh.gokhale@intel.com
