Repository intel/vpl-gpu-rt, changes with the owners that CODEOWNERS names for each.
All owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, chunbo.chen@intel.com, zhijie.zhang@intel.com, lijuan.wang@intel.com, yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com, rachel.cheng@intel.com, thomas.li@intel.com, lightny.gong@intel.com, maxim.xue@intel.com, furong.zhang@intel.com, sergey.plotnikov@intel.com, neelesh.gokhale@intel.com

[Decode] Initialize parOut structure in AV1 QueryImplsDescription
  _studio/mfx_lib/decode/av1/src/mfx_av1_dec_decode.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com

[Media Common] Open-source NVL-S platform support
  _studio/mfx_lib/shared/include/mfx_platform_caps.h
  _studio/mfx_lib/shared/src/mfx_common_int.cpp
  _studio/shared/include/mfxstructures-int.h
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[VP] Relax frame alignment requirements to 8-pixel
  _studio/mfx_lib/vpp/src/mfx_vpp_sw_core.cpp
  _studio/mfx_lib/vpp/src/mfx_vpp_utils.cpp
Owners: furong.zhang@intel.com

[Media Common] Add media copy support for NVLS
  _studio/shared/src/libmfx_core_vaapi.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

Update API version to 2.16
  api/vpl/mfxdefs.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

[Encode] Update LA_STATS_SIZE to fixed value
  _studio/shared/enctools/include/mfxenctools-int.h
Owners: sergey.plotnikov@intel.com, neelesh.gokhale@intel.com

[Encode] Add ReducedTxSetUsed control for AV1 encoder
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.cpp
  _studio/mfx_lib/encode_hw/av1/linux/base/av1ehw_base_va_packer_lin.cpp
  api/vpl/private/mfxav1.h
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com, miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

Add decode new api to get BS buffer in vmem
  api/vpl/mfxmemory.h
  api/vpl/mfxstructures.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

[VP] Update VPP memory alignment requirements
  _studio/mfx_lib/vpp/src/mfx_vpp_hw.cpp
Owners: furong.zhang@intel.com

[Media Common] Bump up version to 26.1.0
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

style: fixed typos, removed trailing spaces
  _studio/mfx_lib/shared/src/mfx_common_int.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

API: fixed style
  api/vpl/mfxmemory.h
  api/vpl/mfxstructures.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

[Decode] Fix error code for empty surface in decoders
  _studio/mfx_lib/decode/av1/src/mfx_av1_dec_decode.cpp
  _studio/mfx_lib/decode/vvc/src/mfx_vvc_dec_decode.cpp
  _studio/shared/include/mfx_utils.h
  _studio/shared/umc/core/umc/include/umc_structures.h
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com, lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Decode] Add null pointer check in AV1 decoder
  _studio/mfx_lib/decode/av1/src/mfx_av1_dec_decode.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com

Relax spec definition of frame alignment
  api/vpl/mfxstructures.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

[Media Common] Add NVL platform support to build configuration
  builder/BuildOptionsPlatform.cmake
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

Update description for PitchLow and PitchHigh
  api/vpl/mfxstructures.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

Resolve cpplint errors in API and docs
  api/vpl/mfxstructures.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

[Common] Add new device IDs for NVL-S
  _studio/shared/include/mfxstructures-int.h
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Decode] Add video memory bs buffer support
  _studio/shared/include/libmfx_core.h
  _studio/shared/include/mfxvideo++int.h
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

Add new member and enum for dec csc and scale caps
  api/vpl/mfxstructures.h
Owners: miroslav.goncharenko@intel.com, vasily.aristarkhov@intel.com, jon.recker@intel.com, chunbo.chen@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com

[Encode] Pass parameter by const reference for GetMemType
  _studio/mfx_lib/encode_hw/mjpeg/include/mfx_mjpeg_encode_hw.h
  _studio/shared/include/mfxvideo++int.h
Owners: chunbo.chen@intel.com, rachel.cheng@intel.com, lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[RT Common] Delete copy constructor and copy assignment for mfxSurface*Impl classes
  _studio/shared/include/libmfx_allocator_vaapi.h
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Encode] Add FullQpRangeSupport capability for H264 encoder
  _studio/mfx_lib/encode_hw/h264/include/mfx_h264_encode_hw_utils.h
  _studio/mfx_lib/encode_hw/h264/src/mfx_h264_encode_hw_utils.cpp
  _studio/mfx_lib/encode_hw/h264/src/mfx_h264_encode_hw_utils_new.cpp
Owners: chunbo.chen@intel.com, rachel.cheng@intel.com

[Media Common] Bump up version to 26.1.1
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Encode] Add use_ref_frame_mvs flag to AV1 PPS buffer
  _studio/mfx_lib/encode_hw/av1/agnostic/base/av1ehw_base_general.cpp
Owners: chunbo.chen@intel.com, maxim.xue@intel.com, rachel.cheng@intel.com

[Decode] Add VESFC in decode pipeline
  _studio/shared/include/mfx_umc_alloc_wrapper.h
  _studio/shared/src/mfx_umc_alloc_wrapper.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Encode] Consolidate surface alignment logic for newer platforms
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_data.h
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_legacy_defaults.cpp
Owners: thomas.li@intel.com, lightny.gong@intel.com, chunbo.chen@intel.com, rachel.cheng@intel.com

[RT Common] Update hardcoded struct version in libmfxsw.cpp
  _studio/mfx_lib/shared/src/libmfxsw.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[VP] Add AI Frame Interpolation capability support
  _studio/mfx_lib/shared/include/mfx_platform_caps.h
  _studio/mfx_lib/vpp/src/mfx_vpp_hw.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com, furong.zhang@intel.com

[HEVCe] Remove P210 from FourCCPar for input format
  _studio/mfx_lib/encode_hw/hevc/agnostic/base/hevcehw_base_legacy_defaults.cpp
Owners: thomas.li@intel.com, lightny.gong@intel.com, chunbo.chen@intel.com, rachel.cheng@intel.com

[Media Common] Bump up version to 26.1.2
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Media Common] Bump up version to 26.1.3
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Media Common] Bump up version to 26.1.4
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Decode] Post-processing Update
  _studio/shared/src/libmfx_core_hw.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Decode] Fix surface allocation for H264/H265/VVC decoders
  _studio/mfx_lib/decode/h264/src/mfx_h264_dec_decode.cpp
  _studio/mfx_lib/decode/h265/src/mfx_h265_dec_decode.cpp
  _studio/mfx_lib/decode/vvc/src/mfx_vvc_dec_decode.cpp
Owners: yan.wang@intel.com, will.guo@intel.com, yuchen.wang@intel.com

[Decode] Extend the VA_PROFILE bits
  _studio/shared/umc/core/umc/include/umc_va_base.h
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[RT Common] Fix integer overflow in surface size calculation
  _studio/shared/src/libmfx_allocator.cpp
Owners: lijuan.wang@intel.com, jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Media Common] Bump up version to 26.1.5
  CMakeLists.txt
Owners: jenny.yuan@intel.com, arshad.ali@intel.com, shengkuan.xiao@intel.com, saurav.bandyopadhyay@intel.com, jon.recker@intel.com

[Encode] Move task manager m_closeMtx from public to protect
  _studio/mfx_lib/encode_hw/shared/ehw_task_manager.h
Owners: chunbo.chen@intel.com, thomas.li@intel.com, maxim.xue@intel.com, lightny.gong@intel.com, rachel.cheng@intel.com

CODEOWNERS:

* jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com

# API
/api/**                                 miroslav.goncharenko@intel.com vasily.aristarkhov@intel.com jon.recker@intel.com chunbo.chen@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com

# Quick Build buildplans and scripts
/config/**                              zhijie.zhang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com

# core & plugin:
/_studio/mfx_lib/shared/**              lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/shared/**                      lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/shared/umc/core/**             lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/shared/umc/io/**               lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/mfx_lib/cmrt_cross_platform/** lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com
/_studio/mfx_lib/scheduler/**           lijuan.wang@intel.com jenny.yuan@intel.com arshad.ali@intel.com shengkuan.xiao@intel.com saurav.bandyopadhyay@intel.com jon.recker@intel.com

# decoders
/_studio/mfx_lib/decode/**                          yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/av1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/h264_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/h265_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/mpeg2_dec/**              yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/jpeg_common/**            yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/jpeg_dec/**               yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vc1_common/**             yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vc1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vp8_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/vp9_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/shared/umc/codec/av1_dec/**                yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/mfx_lib/shared/include/mfx_vpx_dec/**      yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com
/_studio/mfx_lib/shared/src/mfx_vpx_dec/**          yan.wang@intel.com will.guo@intel.com yuchen.wang@intel.com

# AVC/MPEG2/JPEG encode
/_studio/mfx_lib/encode_hw/h264/**                  chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/src/mfx_h264*               chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/mfx_h264*           chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/encode_hw/mpeg2/**                 chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/mfx_mpeg2           chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/src/mfx_mpeg2*              chunbo.chen@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/encode_hw/mjpeg/**                 chunbo.chen@intel.com rachel.cheng@intel.com

# HEVC encode:
/_studio/mfx_lib/encode_hw/hevc/**                  thomas.li@intel.com lightny.gong@intel.com chunbo.chen@intel.com rachel.cheng@intel.com

# AV1 encode:
/_studio/mfx_lib/encode_hw/av1/**                   chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com
/_studio/mfx_lib/shared/include/feature_blocks/**   chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com

# HEVC & AV1 encode shared:
/_studio/mfx_lib/encode_hw/shared/**                chunbo.chen@intel.com thomas.li@intel.com maxim.xue@intel.com lightny.gong@intel.com rachel.cheng@intel.com

# VP9 encode:
_studio/mfx_lib/encode_hw/vp9/                      chunbo.chen@intel.com maxim.xue@intel.com rachel.cheng@intel.com

# VPP:
/_studio/mfx_lib/vpp/                               furong.zhang@intel.com

# enctools:
/_studio/enctools/                                  sergey.plotnikov@intel.com neelesh.gokhale@intel.com
/_studio/enctools/aenc                              sergey.plotnikov@intel.com neelesh.gokhale@intel.com
/_studio/shared/enctools/                           sergey.plotnikov@intel.com neelesh.gokhale@intel.com
